{% extends "mercury/base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static "mercury/css/traffic_map.css" %}" />
{% endblock %}

{% block extra_body_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="{% static "django_ajax/js/jquery.ajax.min.js" %}"></script>
<script type="text/javascript" src="{% static "mercury/js/traffic_map.js" %}"></script>
{% endblock %}

{% block content %}
<h3>Application Map</h3>
{% endblock %}
